<h1>Editing tapicerium</h1>

<%= render "form", tapicerium: @tapicerium %>

<br>

<div>
  <%= link_to "Show this tapicerium", @tapicerium %> |
  <%= link_to "Back to tapiceria", tapiceria_path %>
</div>
