<div class="px-4 py-5 my-5 text-center" style="
              background-image: url(https://www.freepik.es/vector-gratis/fondo-curva-azul-claro_14731354.htm#query=fondo%20azul%20claro&position=2&from_view=keyword);
              height: 100vh;
              ">

  <h2 class="titulo display-5 fw-bold ">Car Configurator</h2>
  <br>
  <div class="col-lg-6 mx-auto abs-center">
    <p class="lead mb-4" style="font-family: 'Poppins', sans-serif; font-size: 25px">Rendimiento de alta tecnología a un precio de baja tecnología</p>
    <br>
  </div>
  <br>
  <div style="display: flex; align-items: center;">
    <%= link_to "", :modelos, class: "btn", id: "testbutton"%>
  </div>

</div> 
