<h1>Editing modelo</h1>

<%= render "form", modelo: @modelo %>

<br>

<div>
  <%= link_to "Show this modelo", @modelo, class: "btn btn-primary" %> |
  <%= link_to "Back to modelos", modelos_path, class: "btn btn-primary" %>
</div>
