<div id="<%= dom_id color %>" class="card" style="width: 18rem; background: whitesmoke">
  <div class="card-body">
    <p class="card-title" style="color: black">
      <strong>Nombre:</strong>
      <%= color.nombre %>
    </p>

    <p class="card-text" style="color: black">
      <strong>Precio:</strong>
      <%= color.precio %>
    </p>
  </div>
</div>
