<h1>Editing extra</h1>

<%= render "form", extra: @extra %>

<br>

<div>
  <%= link_to "Show this extra", @extra, class: "btn btn-primary" %> |
  <%= link_to "Back to extras", extras_path, class: "btn btn-primary" %>
</div>
