<h1>Extras</h1>

<p style="color: green"><%= notice %></p>


<div id="extras">
  <% @extras.each do |extra| %>
    <%= render extra %>
    <p>
      <%= link_to "Show this extra", extra %>
    </p>
    <br>
  <% end %>
</div>

<br>

<%= link_to "New extra", new_extra_path %>
